
/* Add or change the styles for all tasks in this css file */

@font-face {
  font-family: 'Schnyder Wide M Web';
  src: url('../assets/SchnyderWideM-Demi-Web.woff2') format('woff2'),
       url('../assets/SchnyderWideM-Demi-Web.woff') format('woff');
  font-weight:  400;
  font-style:   normal;
  font-stretch: normal;
}

.SchnyderWideM-Demi-Web {
  font-family: 'Schnyder Wide M Web';
  font-weight:  500;
  font-style:   normal;
  font-stretch: normal;
}

html {
  font-family: "Merriweather",Helvetica,serif;
  margin: 0px;
  font-size: calc(1em + 1vw);
  background-color: #FDFDFD;
  padding-bottom: 80px;
}

a {
  color: rgba(122, 153, 232, 0.8);
}

a:hover {
  color:rgba(73, 95, 150, 0.8);
}

h1, h2 {
  font-family: "Schnyder Wide M Web", serif;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-size: 2.0em;
  margin-top: 2em;
  color: rgb(26, 25, 26);
  line-height: 125%;
}

h2 {
  font-size: 1.4em;
  margin-bottom: -8px;
}

p {
  margin-top: 32px;
  font-family: "Archivo", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: rgb(58, 58, 60);
  max-width: 540px;
  line-height: 135%
}

.subtitle {
  margin-top: -24px;
  color: rgb(134, 135, 143);
  font-size: 20px;
  margin-bottom: 90px;
}

.container { 
  max-width: 24em;
  margin: auto;
  position: relative;
  overflow: hidden;
}

.vis-container {
  margin: auto;
  max-width: 24em;
  padding-left: 0vw;
  padding-right: 0vw;
  position: relative;
  overflow: hidden;
}

.bubble-container {
  margin: auto;
  max-width: 100vw;
  max-height: 90vh;
  width: 80vw;
  height: 800px;
  margin-bottom: 64px;
  margin-top: 32px;
}

.accuracy {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-left: 1.8em;
  padding-right: 1.8em;
  padding-top: 24px;
}

#bubbleVis {
  width: 80vw;
  height: 100vh;
  margin-left: -10%;
}

/** Color Legend **/ 
#color-legend-1 .tick, #color-legend-2 .tick {
  font-family: "Archivo", sans-serif;
  font-size: 17px;
  font-weight: 500;
  fill: #5E6064;
}

#color-legend-1, #color-legend-2 {
  background-color: white;
  padding: 18px;
  -webkit-box-shadow: 13px 17px 52px -12px rgba(0,0,0,0.25);
  -moz-box-shadow: 13px 17px 52px -12px rgba(0,0,0,0.25);
  box-shadow: 13px 17px 52px -12px rgba(0,0,0,0.25);
  border-radius: 8px;
  height: 102px;
  width: 240px;
}

#color-legend-2 {
  margin-top: 88px;
}

.color-legend-container {
  margin-top: 48px;
  display: flex; 
  flex-direction: column;
  align-items: flex-start;
}

.footnote {
  font-size: 16px;
  fill: #8D9097;
  margin-top: 16px;
  max-width: 280px;
}

/** Circle Juxtapose Vis **/
/* TODO fix structure */
#falseToAllPostsRanking {
  font-family: Archivo, Helvetica, sans-serif; 
  height: 580px;
  width: 48%
}

#falseToAllPostsRanking .name-label {
  font-family: Archivo, Helvetica, sans-serif;
  text-align: center;
  font-size: 18px;
  vertical-align: center;
  pointer-events: none;
}

#falseToAllPostsRanking rect {
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.key-text {  
  font-family: Archivo, Helvetica, sans-serif;
  font-weight: 500;
  fill: #3B3A3C;
  text-align: center;
  font-size: 18px;
}

.total-circle, .post-circle {
  stroke: #fdfdfd;
  stroke-width: 6px;
}

.post-circle:hover {
  cursor: pointer;
}

.total-circle-text, .post-circle-text {
  font-size:10px;
  fill: white;
  pointer-events: none;
}

/** Bubble Vis **/
.bubble:hover {
  cursor: pointer;
}

.category, .page {
  font-size: 0.45em;
  font-family: Archivo, Helvetica, sans-serif;
  text-transform: uppercase;
  fill: #8D9097;
}

.right-column {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 3vw;
  z-index: 100;
}

#grouped-bar-legend {
  right: 8vw;
}

@media only screen and (min-width: 1200px) {
  #grouped-bar-legend {
    right: 13vw;
  }
}

/* Stacked Bar Vis */
#stackedBarVis {
  height: 540px;
  width: 52%;
  margin-right: 48px;
}

#stackedBarVis .all-bars rect {
  cursor: pointer;
}

.vis-title {
  font-size: 22px;
  font-family: Archivo, Helvetica, sans-serif;
  font-weight: 500;
  max-width: 420px;
  color: #3B3A3C;
  margin: 0;
  text-align: center;
}

.axis-label {
  font-family: Archivo, Helvetica, sans-serif;
  font-size: 14px;
  color: #5D5D5D;
  fill: #5D5D5D;
  text-transform: uppercase;
}

.y-axis .tick {
  font-family: Archivo;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #3B3A3B;
}
.x-axis .tick {
  font-family: Archivo;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #8F8F8F;
}
.x-axis .tick line {
  color: #D9D9D9;
}

.highlight-stroke {
  stroke: white;
  stroke-width: 1.5px;
  pointer-events: none;
}

.highlight-bar {
  pointer-events: none;
}

#stackedBarVis .x-axis g:nth-child(2n) text {
  visibility: hidden;
}

/* Small Multiples Pages Viz */
#small-multiples-pages {
  width: 80vw;
  height: 480px;
  margin: 0 auto;
  margin-top: 24px;
  text-align: left;
}
#small-multiples-pages h3 {
  max-width: 100%;
  margin-bottom: 10px;
}

#small-multiples-pages span {
  font-family: Archivo;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #434244;
}

#small-multiples-pages div {
  display: flex;
  height: 256px;
}

#engagementCountByPage1, #engagementCountByPage2 {
  width: 50%;
  height: 256px;
}

#small-multiples-pages .vis-title {
  margin-top: 48px;
}

#small-multiples-pages .axis-label {
  margin: auto;
  text-align: center;
  margin-top: 4px;
}

#small-multiples-pages p.axis-label {
  margin-left: 25%;
}

.scatterplot .y-axis .tick {
  font-size: 14px;
  font-weight: 500;
  color: #3B3A3B;
}

.scatterplot .x-axis .tick {
  font-size: 14px;
  font-weight: normal;
  color: #8F8F8F;
}

.scatterplot .domain {
  stroke: #8F8F8F;
}

.all-circles circle {
  fill: rgba(122, 153, 232, 0.8);
  opacity: 0.5
}
.scatterplot text.chartTitle {
  font-family: Archivo, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 500;
  max-width: 420px;
  fill: rgb(85, 85, 87);
  margin: 0;
  text-align: center;
}

#page-select-1, #page-select-2 {
  font-family: Archivo;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #434244;
  line-height: 30px;
  margin: 0 10px;
  padding: 10px 16px 10px 16px;
  box-sizing: border-box;
  border: 1px solid #979797;
  border-radius: 5px;
  min-width: 250px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  position: relative;
}

#small-multiples-pages select {
  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%);
  background-position:
    calc(100% - 20px) calc(1em - 3px),
    calc(100% - 15px) calc(1em - 3px),
    calc(100% - 2.5em) 0.2em;
  background-size:
    5px 5px,
    5px 5px,
    5px 1.5em;
  background-repeat: no-repeat;
}

#small-multiples-pages select:focus {
  background-image:
    linear-gradient(45deg, rgba(122, 153, 232, 0.8) 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, rgba(122, 153, 232, 0.8) 50%);
  background-position:
    calc(100% - 15px) 0.8em,
    calc(100% - 20px) 0.8em,
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
  outline: 0;
}

#small-multiples-categories {
  width: 90vw;
  height: 464px;
  max-width: 32em;
  margin: 0 auto;
  text-align: 
  left;
}
#small-multiples-categories h3 {
  max-width: 100%;
  margin-bottom: 10px;
  margin-top: 32px;
}

#small-multiples-categories span {
  font-family: Archivo;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: #434244;
}

#small-multiples-categories .violin {
  display: flex;
  height: 100%;
}
#engagementByPageRight, #engagementByPageLeft, #engagementByPageMainstream {
  width: 50%;
  height: 80%;
}

#small-multiples-categories .tick line {
  stroke:none;
}

/* Grouped Bar */
#grouped-bar {
  width: 80vw;
  max-width: 700px;
  height: 540px;
  margin-top: 16px;
  margin-left: 14vw;
}

@media only screen and (max-width: 1200px) {
  #grouped-bar {
    margin-left: 5vw;
  }
}

#groupedBarVis {
  width: 100%;
  height: 100%;
}

#grouped-bar .vis-title {
  margin: auto;
  margin-top: 16px;
  margin-bottom: 24px;
}

/** Tooltip **/ 

.tooltip {
  background-color: white;
  pointer-events: none;
	padding: 20px;
	width: 300px;
  z-index: 100;
  border-radius: 16px;
  -webkit-box-shadow: 9px 10px 33px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 9px 10px 33px 0px rgba(0,0,0,0.4);
  box-shadow: 9px 10px 33px 0px rgba(0,0,0,0.4);
}

.tooltip .header {
  font-family: Archivo, Helvetica, sans-serif;
  font-size: 0.7em;
  color: #3B3A3C;
  font-weight: 800;
  margin-top: 0px;
  margin-bottom: 8px;
}

.tooltip .attr {
  font-family: Archivo, Helvetica, sans-serif;
  color: #8D9097;
  font-size: 0.3em;
  margin-top: 10px;
  margin-bottom: 0px;
  font-weight: 500;
  text-transform: uppercase;
}

.tooltip .value {
  font-family: Archivo, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 0.5em;
  color: #3B3A3C;
  margin: 0 0 0 0;
}

/** Tabs **/ 

.tabs {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  width: 270px;
}

.tabs button {
  font-family: Archivo, Helvetica, sans-serif;
  text-align: left;
  font-weight: 500;
  font-size: 18px;
  background-color: inherit;
  color: #3B3A3C;
  padding: 16px;  
  border: none;
  cursor: pointer;
  opacity: 0.6;
  border-radius: 4px;
  position:relative;
}

.tabs button:hover {
  background-color: #f3f6f9;  
}

.tabs button:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background:#33353c;
  height: 4px;
  border-radius: 0px 0px 4px 4px;
  width: 0;
}

.tabs button:hover:after, .tabs .active:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #33353c;
  height: 4px;
  border-radius: 0px 0px 4px 4px;
  width: 100%;
  transition: width .3s;
}

.tabs .active { 
  background-color: #f3f6f9;
  opacity: 1;
  outline: none;
}

#rank-layout-tabs {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 32px;
}

.tab-legend {
  display: flex;
  flex-direction: row;
}

.false-legend, .mixture-legend, .true-legend, .no-factual-legend {
  min-width: 18px;
  height: 18px;
  margin-right: 8px;
}

.false-legend {
  background-color:rgb(224, 94, 94);
}

.mixture-legend {
  background-color:rgb(211, 220, 231); 
}

.true-legend {
  background-color: rgb(103, 217, 155);
} 

.no-factual-legend {
  background-color: rgb(99, 66, 101);
}

/** Violin plot **/
.violin .y-axis .tick {
  font-size: 14px;
  font-weight: 400;
  color: #8F8F8F;
}

.violin .x-axis .tick {
  font-size: 14px;
  font-weight: 500;
  color: #3B3A3B;
}

.violin .y-axis .domain {
  stroke: #D9D9D9;
}

.violin-y-axis {
  transform: rotate(-90deg);
  -webkit-transform:rotate(-90deg);
  display: block !important;
  position: relative !important;
  text-align: center;
  height: 24px !important;
  margin-top: 180px;
}

.violin-y-axis p {
  margin: 0px;
}

.violin .chartTitle {
  font-family: Archivo, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 500;
  max-width: 420px;
  fill: rgb(85, 85, 87);
  margin: 0;
  text-align: center;
}

.violin :hover {
  cursor: crosshair;
}

.violin-x-axis {
  margin: auto;
  margin-bottom: 200px;
  margin-top: -140px;
}

.violin-x-axis p {
  text-align: center;
  max-width: 100%;
}