
/* Add or change the styles for all tasks in this css file */

html {
  font-family: "Merriweather",Helvetica,serif;
  margin: 0px;
  font-size: calc(1em + 1vw);
  background-color: #FDFDFD;
}

h1, h2 {
  font-family: "Merriweather",serif;
  font-weight: 900;
  font-size: 1.9em;
  margin-top: 2em;
  color: #3B3A3C;
}

h2 {
  font-size: 1.2em;
}

p {
  margin-top: 32px;
  font-family: "Archivo", sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #5E6064;
  max-width: 580px;
  line-height: 130%
}

.subtitle {
  margin-top: -24px;
  color: #8D9097;
  font-size: 22px;
  margin-bottom: 90px;
}

.container { 
  max-width: 24em;
  margin: auto;
  position: relative;
  overflow: hidden;
}

.vis-container {
  margin: auto;
  max-width: 100vw;
  padding-left: 4vw;
  padding-right: 4vw;
  position: relative;
  overflow: hidden;
}

.bubble-container {
  margin: auto;
  max-width: 100vw;
  max-height: 90vh;
  width: 80vw;
  height: 800px;
}

.accuracy {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-left: 1.8em;
  padding-right: 1.8em;
  padding-top: 24px;
}

#bubbleVis {
  width: 80vw;
  height: 100vh;
  margin-left: -9.5vw;
}

/** Color Legend **/ 
#color-legend .tick {
  font-family: "Archivo", sans-serif;
  font-size: 17px;
  font-weight: 500;
  fill: #5E6064;
}

#color-legend {
  background-color: white;
  padding: 18px;
  -webkit-box-shadow: 13px 17px 52px -12px rgba(0,0,0,0.25);
  -moz-box-shadow: 13px 17px 52px -12px rgba(0,0,0,0.25);
  box-shadow: 13px 17px 52px -12px rgba(0,0,0,0.25);
  border-radius: 8px;
  height: 102px;
  width: 240px;
}

.color-legend-container {
  margin-top: 48px;
  display: flex; 
  flex-direction: column;
  align-items: flex-start;
}

.footnote {
  font-size: 16px;
  fill: #8D9097;
  margin-top: 16px;
  max-width: 280px;
}

/** Circle Juxtapose Vis **/
/* TODO fix structure */
#falseToAllPostsRanking {
  font-family: Archivo, Helvetica, sans-serif; 
  height: 580px;
  width: 50%
}

#falseToAllPostsRanking .name-label {
  font-family: Archivo, Helvetica, sans-serif;
  text-align: center;
  font-size: 18px;
  vertical-align: center;
  pointer-events: none;
}

#falseToAllPostsRanking rect {
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.key-text {  
  font-family: Archivo, Helvetica, sans-serif;
  font-weight: 500;
  fill: #3B3A3C;
  text-align: center;
  font-size: 18px;
}

.total-circle, .post-circle {
  stroke: #fdfdfd;
  stroke-width: 6px;
}

.post-circle:hover {
  cursor: pointer;
}

.total-circle-text, .post-circle-text {
  font-size:10px;
  fill: white;
  pointer-events: none;
}

/** Bubble Vis **/
.bubble:hover {
  cursor: pointer;
}

.category, .page {
  font-size: 0.45em;
  font-family: Archivo, Helvetica, sans-serif;
  text-transform: uppercase;
  fill: #8D9097;
}

.right-column {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 3vw;
  z-index: 100;
}

/* Stacked Bar Vis */
#stackedBarVis {
  height: 540px;
  width: 50%;
  margin-right: 48px;
}

#stackedBarVis .all-bars rect {
  cursor: pointer;
}

.vis-title {
  font-size: 0.75em;
  font-family: Archivo, Helvetica, sans-serif;
  font-weight: 500;
  max-width: 36vw;
  color: #3B3A3C;
  margin: 0;
}

.axis-label {
  font-family: Archivo, Helvetica, sans-serif;
  font-size: 18px;
  color: #5D5D5D;
}

.y-axis .tick {
  font-family: Archivo;
font-style: normal;
font-weight: 500;
font-size: 18px;
color: #3B3A3B;
}
.x-axis .tick {
  font-family: Archivo;
font-style: normal;
font-weight: 500;
font-size: 16px;
  color: #8F8F8F;
}
.x-axis .tick line {
  color: #D9D9D9;
}

.highlight-stroke {
  stroke: white;
  stroke-width: 1.5px;
}

#stackedBarVis .x-axis g:nth-child(2n) text {
  visibility: hidden;
}

/* Small Multiples Pages Viz */
#small-multiples-pages {
  width: 80vw;
  height: 500px;
  /* border: 2px solid green; */
  margin: 0 auto;
  text-align: 
  left;
}
#small-multiples-pages h3 {
  max-width: 100%;
  margin-bottom: 10px;
}

#small-multiples-pages span {
  font-family: Archivo;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: #434244;
}

#small-multiples-pages div {
  display: flex;
  height: 100%;
}
#engagementCountByPage1, #engagementCountByPage2 {
  width: 50%;
  height: 80%;
}

#small-multiples-pages .vis-title {
  margin-top: 48px;
}

.scatterplot .y-axis .tick {
  font-size: 14px;
  font-weight: bold;
}

.scatterplot .x-axis .tick {
  font-size: 14px;
  font-weight: normal;
  color: #434244;
}

.all-circles circle {
  fill: rgba(122, 153, 232, 0.8);
  opacity: 0.5
}
.scatterplot text.chartTitle {
  font-family: Archivo;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 26px;
fill: #434244;
}

#page-select-1, #page-select-2 {
  font-family: Archivo;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: #434244;
  line-height: 30px;
  margin: 0 10px;
  padding: 10px 16px 10px 16px;
  box-sizing: border-box;
  border: 1px solid #979797;
  border-radius: 5px;
  min-width: 270px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  position: relative;
}

#small-multiples-pages select {
  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%);
  background-position:
    calc(100% - 20px) calc(1em - 3px),
    calc(100% - 15px) calc(1em - 3px),
    calc(100% - 2.5em) 0.2em;
  background-size:
    5px 5px,
    5px 5px,
    5px 1.5em;
  background-repeat: no-repeat;
}

#small-multiples-pages select:focus {
  background-image:
    linear-gradient(45deg, rgba(122, 153, 232, 0.8) 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, rgba(122, 153, 232, 0.8) 50%);
  background-position:
    calc(100% - 15px) 0.8em,
    calc(100% - 20px) 0.8em,
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
  outline: 0;
}

#small-multiples-categories {
  width: 80vw;
  height: 500px;
  max-width: 28em;
  /* border: 2px solid green; */
  margin: 0 auto;
  text-align: 
  left;
}
#small-multiples-categories h3 {
  max-width: 100%;
  margin-bottom: 10px;
}

#small-multiples-categories span {
  font-family: Archivo;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: #434244;
}

#small-multiples-categories div {
  display: flex;
  height: 100%;
}
#engagementByPageRight, #engagementByPageLeft, #engagementByPageMainstream {
  width: 50%;
  height: 80%;
}

#small-multiples-categories .all-circles circle {
  opacity: 0.5;
  fill: unset;
}

/* Grouped Bar */
#grouped-bar {
  width: 80vw;
  height: 650px;
}

#groupedBarVis {
  width: 100%;
  height: 100%;
}

/** Tooltip **/ 

.tooltip {
  background-color: white;
	padding: 20px;
	width: 300px;
  z-index: 100;
  border-radius: 16px;
  -webkit-box-shadow: 9px 10px 33px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 9px 10px 33px 0px rgba(0,0,0,0.4);
  box-shadow: 9px 10px 33px 0px rgba(0,0,0,0.4);
}

.tooltip .header {
  font-family: Archivo, Helvetica, sans-serif;
  font-size: 0.7em;
  color: #3B3A3C;
  font-weight: 800;
  margin-top: 0px;
  margin-bottom: 8px;
}

.tooltip .attr {
  font-family: Archivo, Helvetica, sans-serif;
  color: #8D9097;
  font-size: 0.3em;
  margin-top: 10px;
  margin-bottom: 0px;
  font-weight: 500;
  text-transform: uppercase;
}

.tooltip .value {
  font-family: Archivo, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 0.5em;
  color: #3B3A3C;
  margin: 0 0 0 0;
}

/** Tabs **/ 

.tabs {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  width: 270px;
}

.tabs button {
  font-family: Archivo, Helvetica, sans-serif;
  text-align: left;
  font-weight: 500;
  font-size: 18px;
  background-color: inherit;
  color: #3B3A3C;
  padding: 16px;  
  border: none;
  cursor: pointer;
  opacity: 0.6;
  border-radius: 4px;
  position:relative;
}

.tabs button:hover {
  background-color: #f3f6f9;  
}

.tabs button:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background:#33353c;
  height: 4px;
  border-radius: 0px 0px 4px 4px;
  width: 0;
}

.tabs button:hover:after, .tabs .active:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #33353c;
  height: 4px;
  border-radius: 0px 0px 4px 4px;
  width: 100%;
  transition: width .3s;
}

.tabs .active { 
  background-color: #f3f6f9;
  opacity: 1;
  outline: none;
}

#rank-layout-tabs {
  display: flex;
  flex-direction: row;
  width: 100vw;
}

.tab-legend {
  display: flex;
  flex-direction: row;
}

.false-legend, .mixture-legend, .true-legend, .no-factual-legend {
  width: 18px;
  height: 18px;
  margin-right: 8px;
}

.false-legend {
  background-color:rgb(224, 94, 94);
}

.mixture-legend {
  background-color:rgb(211, 220, 231); 
}

.true-legend {
  background-color: rgb(103, 217, 155);
} 

.no-factual-legend {
  background-color: rgb(99, 66, 101);
}