
/* Add or change the styles for all tasks in this css file */

html {
  font-family: "Merriweather",Helvetica,serif;
  margin: 0px;
  font-size: calc(1em + 1vw);
  background-color: #FDFDFD;
}

h1, h2 {
  font-family: "Merriweather",serif;
  font-weight: 900;
  font-size: 1.7em;
  margin-top: 2em;
  color: #3B3A3C;
}

h2 {
  font-size: 1.2em;
}

p {
  margin-top: 32px;
  font-family: "Archivo", sans-serif;
  font-weight: 400;
  font-size: 0.65em;
  color: #5E6064;
  max-width: 580px;
  line-height: 130%
}

.subtitle {
  margin-top: -24px;
  color: #8D9097;
  font-size: 0.6em;
  margin-bottom: 90px;
}

.container { 
  max-width: 24em;
  margin: auto;
}

/** Color Legend **/ 
#color-legend .tick {
  font-family: "Archivo", sans-serif;
  font-size: 0.5rem;
  font-weight: 500;
  fill: #5E6064;
}

#color-legend {
  background-color: white;
  padding: 18px;
  -webkit-box-shadow: 13px 17px 52px -12px rgba(0,0,0,0.25);
  -moz-box-shadow: 13px 17px 52px -12px rgba(0,0,0,0.25);
  box-shadow: 13px 17px 52px -12px rgba(0,0,0,0.25);
  border-radius: 8px;
  height: 102px;
  width: 240px;
}

.color-legend-container {
  display: flex; 
  flex-direction: row;
  align-items: flex-start;
}

.footnote {
  font-size: 0.5rem;
  fill: #8D9097;
  margin-top: 16px;
  margin-left: 32px;  
  max-width: 300px;
}

/** Bubble Vis **/
#bubbleVis {
  width: 1000px;
  height: 870px;
  margin-left: -2.6rem;
}